.single-container {
    font-size: 1.3rem;
    color:blue;
    width: 250px;
    height: 150px;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    background-color:lightyellow;
    text-align: left;
    display:flex;
    flex-direction: column; 
    justify-content: left;
    align-items: left; 
}

.single-item {
    font-size: 1.2rem;
    color:blue;
    text-shadow: 1px 1px 1px #000, 
    3px 3px 5px skyblue; 
                
    
}